html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  min-width: 320px;
  min-height: 100vh;
}